{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>
        <!-- looks at the articles app => /article url -->
        <a href="{% url 'articles:article_list'%}"
          ><img src="{% static 'logo.png'%}" alt="logo"
        /></a>
      </h1>
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li>
            <form
              method="POST"
              class="logout-link"
              action="{% url 'accounts:logout'%}"
            >
              {% csrf_token %}
              <button type="submit">logout</button>
            </form>
          </li>
          <li>
            <a class="highlight" href="{% url 'articles:create'%}"
              >New article</a
            >
          </li>
          {% else %}
          <li>
            <a href="{% url 'accounts:login'%}">Login</a>
          </li>
          <li>
            <a href="{% url 'accounts:signup'%}">Sign up</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <br />
    <br />
    <div class="wrapper">
      {% block content%} {% endblock%}
    </div>
  </body>
</html>
