{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <h1>
        <!-- looks at the articles app => /article url -->
        <a href="{% url 'articles:article_list'%}"
          ><img src="{% static 'logo.png'%}" alt="logo"
        /></a>
      </h1>
      <nav>
        <ul>
          <li>
            <form
              method="POST"
              class="logout-link"
              action="{% url 'accounts:logout'%}"
            >
              {% csrf_token %}
              <button type="submit">logout</button>
            </form>
          </li>
        </ul>
      </nav>
      <br />
      <br />
      {% block content%} {% endblock%}
    </div>
  </body>
</html>
